@if (presentation && currentSlide) {
    <div class="presentation-page" (click)="hideControls()">

        <div
                class="slide-container"
                [innerHTML]="safeHtml(currentSlide.html)">
        </div>

        <div
                class="presentation-controls"
                [class.hidden]="!showControls"
                (click)="$event.stopPropagation()"
        >
            <button
                    class="control-button"
                    (click)="previous()"
                    [disabled]="currentIndex === 0"
                    title="Previous slide"
            >
                <i class="pi pi-chevron-left"></i>
            </button>

            <div class="slide-counter">
                {{ currentIndex + 1 }}
                <span>/</span>
                {{ presentation.slides.length }}
            </div>

            <button
                    class="control-button"
                    (click)="next()"
                    [disabled]="currentIndex === presentation.slides.length - 1"
                    title="Next slide"
            >
                <i class="pi pi-chevron-right"></i>
            </button>

            <div class="control-separator"></div>

            <button
                    class="control-button"
                    (click)="openPresenterNotes()"
                    title="Presenter notes"
            >
                <i class="pi pi-file-edit"></i>
            </button>

            <button
                    class="control-button"
                    (click)="exitPresentation()"
                    title="Exit presentation"
            >
                <i class="pi pi-times"></i>
            </button>
        </div>
    </div>
}